[Unit]
Description=Joystick Control Service
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/efelsenthal/Projects/joystick.py
Restart=on-failure
RestartSec=5
User=root
Group=root
Environment=PYTHONUNBUFFERED=1
StandardOutput=append:/home/efelsenthal/joystick_control.log
StandardError=append:/home/efelsenthal/joystick_control_error.log
WorkingDirectory=/home/efelsenthal/Projects/

[Install]
WantedBy=multi-user.target
